body {background-color: #FFF973; color:black;}

h1 {font-weight: bold; font-size: 24px;} 

/* CSS to format the gridview --START*/
.cssgridview {width:2px; margin:5px; border: solid 1px 

/* CSS to format the gridview --END*/